---
title: {{ meta.title }}
tags:
{% for t in meta.tags -%}
  - {{ t }}
{% endfor %}
---

[local pdf]({{ common_path }}/{{ meta.pdf_relpath|safe }})

# {{ meta.title }}
{% if content %}
{{ content }}
{% endif -%}
