---
{%- if 'Alias' in meta %}
Alias: {{ meta['Alias'] }}
{%- endif %}
title: {{ meta['title'] }}
{{ meta_str }}
---

[local pdf]({{ common_path }}/{{ meta.pdf_relpath|safe }})
{% if content %}
{{ content }}
{% else %}
# {{ meta.title }}
{% endif -%}
