/2001-Face-Detection-A-Survey.pdf
/2001-Rapid-Object-Detection-Boosted-Cascade.pdf
/2004-Robust Multipose Face Detection in Images.pdf
/2013-rcnn.pdf
/2013-selectiveSearch.pdf
/2015-Multi-view-Face-Detection.pdf
/2015-fast-rcnn.pdf
/2015-faster-rcnn.pdf
/2015-sppnet.pdf
/2016-FPN-Feature Pyramid Networks.pdf
/2016-mtcnn.pdf
/2016-ssd.pdf
/2017-mask-rcnn.pdf
/A-Tour-of-C++.pdf
/Black Hat Python.pdf
/Brendan Gregg-The Flame Graph.pdf
/C++Primer-4th-cn.pdf
/CUDA_Application_Design_and_Development.pdf
/CUDA_C_Programming_Guide_11_6.pdf
/CUDA_by_Example.pdf
/Debug Hacks-cn.pdf
/Dragon Book Compilers-en-2nd.pdf
/Essentials of Programming Languages 3e (MIT, 2008).pdf
/Formal Verification of Pipelined Y86-64 Microprocessors with UCLID5.pdf
/Gray Python-cn.pdf
/Guide to Y86 Processor Simulators.pdf
/Handbook-of-Face-Recognition-2nd.pdf
/Introduction to Optimization, 4th Edition.pdf
/Kali Linux Cookbook.pdf
/LLVM Cookbook.pdf
/NVIDIA_Fermi_Compute_Architecture_Whitepaper.pdf
/Object Detection in 20 Years A Survey.pdf
/S4158-cuda-streams-best-practices-common-pitfalls.pdf
/Sequential Y86-64 Implementation.pdf
/Speed accuracy trade-offs for modern convolutional object detectors.pdf
/T4 Product Brief.pdf
/Tesla-P4-Product-Brief.pdf
/The C Programming Language-cn.pdf
/Y86-ISA.pdf
/csapp-talk-3e.pdf
/dragon-book-compiles.pdf
/1999-PageRank-algorithm.pdf
/Fast-algorithm-for-detecting-community-structure-in-networks.pdf
/Finding-and-evaluating-community-structure-in-networks.pdf
/HBase Schema Design-hbasecon2012.pdf
/Introduction to HBase Schema Design.pdf
/MPI与OpenMP并行程序设计：C语言版.pdf
/OSX_Mavericks_Core_Technology_Overview.pdf
/On a Formal Model of Safe and Scalable Self-driving Cars.pdf
/The-Part-Time-Parliament.pdf
/Thrift-The Missing Guide.pdf
/a-closer-look-at-skip-gram-modelling.pdf
/a-statistical-approach-to-machine-translation.pdf
/a-stochastic-parts-program-and-noun-phrase-parser-for-unrestricted-text.pdf
/base-an-acid-alternative.pdf
/bigtable-osdi06.pdf
/bitcask-intro.pdf
/brewers-conjecture-sigact.pdf
/cgroups-intro.pdf
/charikar-estim.pdf
/chubby-osdi06.pdf
/conditional-random-fields-probabilistic-models-for-segmenting-and-labeling-sequence-data.pdf
/conflict-free-replicated-data-types.pdf
/cpp-primer-plus-6th-edition-en.pdf.pdf
/eventually-consistent.pdf
/generic-programming-and-the-stl.pdf
/gfs-sosp2003.pdf
/googlecluster-ieee.pdf
/icml_2006.pdf
/lamport82.pdf
/linux-performance-analysis-and-tools.pdf
/mapreduce-simplified-data-processing-on-large-clusters.pdf
/multi-digit-recognition-google.pdf
/n-gram-similarity-and-distance.pdf
/paxos-simple.pdf
/rss_on_nhtsa.pdf
/simhash-detecting-near-duplicates-for-web-crawling.pdf
/spam-filtering-with-naive-bayes-which-naive-bayes.pdf
/speech-and-language-processing-ed3.pdf
/the-art-of-software-testing-cn.pdf
/the-art-of-software-testing-en-3rd-edition.pdf
/多处理器编程的艺术.pdf
/视觉SLAM十四讲(高翔第二版).pdf
