/2001-Face-Detection-A-Survey.pdf
/2001-Rapid-Object-Detection-Boosted-Cascade.pdf
/2004-Robust Multipose Face Detection in Images.pdf
/2013-rcnn.pdf
/2013-selectiveSearch.pdf
/2015-Multi-view-Face-Detection.pdf
/2015-fast-rcnn.pdf
/2015-faster-rcnn.pdf
/2015-sppnet.pdf
/2016-mtcnn.pdf
/2016-ssd.pdf
/2017-mask-rcnn.pdf
/Black Hat Python.pdf
/Brendan Gregg-The Flame Graph.pdf
/CUDA_Application_Design_and_Development.pdf
/CUDA_C_Programming_Guide_11_6.pdf
/CUDA_by_Example.pdf
/Debug Hacks-cn.pdf
/Dragon Book Compilers-en-2nd.pdf
/Formal Verification of Pipelined Y86-64 Microprocessors with UCLID5.pdf
/Gray Python-cn.pdf
/Guide to Y86 Processor Simulators.pdf
/Handbook-of-Face-Recognition-2nd.pdf
/Introduction to Optimization, 4th Edition.pdf
/Kali Linux Cookbook.pdf
/LLVM Cookbook.pdf
/NVIDIA_Fermi_Compute_Architecture_Whitepaper.pdf
/Object Detection in 20 Years A Survey.pdf
/S4158-cuda-streams-best-practices-common-pitfalls.pdf
/Sequential Y86-64 Implementation.pdf
/Speed accuracy trade-offs for modern convolutional object detectors.pdf
/T4 Product Brief.pdf
/Tesla-P4-Product-Brief.pdf
/The C Programming Language-cn.pdf
/Y86-ISA.pdf
/csapp-talk-3e.pdf
/dragon-book-compiles.pdf
/1999-PageRank-algorithm.pdf
/Fast-algorithm-for-detecting-community-structure-in-networks.pdf
/Finding-and-evaluating-community-structure-in-networks.pdf
/HBase Schema Design-hbasecon2012.pdf
/Introduction to HBase Schema Design.pdf
/MPI与OpenMP并行程序设计：C语言版.pdf
/OSX_Mavericks_Core_Technology_Overview.pdf
/The-Part-Time-Parliament.pdf
/Thrift-The Missing Guide.pdf
/a-closer-look-at-skip-gram-modelling.pdf
/a-statistical-approach-to-machine-translation.pdf
/a-stochastic-parts-program-and-noun-phrase-parser-for-unrestricted-text.pdf
/base-an-acid-alternative.pdf
/bigtable-osdi06.pdf
/bitcask-intro.pdf
/brewers-conjecture-sigact.pdf
/cgroups-intro.pdf
/charikar-estim.pdf
/chubby-osdi06.pdf
/conditional-random-fields-probabilistic-models-for-segmenting-and-labeling-sequence-data.pdf
/conflict-free-replicated-data-types.pdf
/cpp-primer-plus-6th-edition-en.pdf.pdf
/eventually-consistent.pdf
/generic-programming-and-the-stl.pdf
/googlecluster-ieee.pdf
/lamport82.pdf
/linux-performance-analysis-and-tools.pdf
/mapreduce-simplified-data-processing-on-large-clusters.pdf
/n-gram-similarity-and-distance.pdf
/paxos-simple.pdf
/rss_on_nhtsa.pdf
/simhash-detecting-near-duplicates-for-web-crawling.pdf
/spam-filtering-with-naive-bayes-which-naive-bayes.pdf
/speech-and-language-processing-ed3.pdf
/the-art-of-software-testing-cn.pdf
/the-art-of-software-testing-en-3rd-edition.pdf
/多处理器编程的艺术.pdf
/视觉SLAM十四讲(高翔第二版).pdf
/2002-An Adaptive Peer-to-Peer Collision Warning System.pdf
/2014-a survey on motion prediction and risk assessment.pdf
/2017-On a Formal Model of Safe and Scalable Self-driving Cars.pdf
/2018-review-Planning and Decision-Making for Autonomous Vehicles.pdf
/2019-Human Motion Trajectory Prediction-A Survey.pdf
/2021-Real-time safety assessment of trajectories.pdf
/1998-LeNet5.pdf
/2003-bengio-neural-network-LM.pdf
/2010-frenet.pdf
/2012-AlexNet.pdf
/2013-wordnet.pdf
/2014-GloVe.pdf
/2014-VggNet.pdf
/2015-A Review of Motion Planning Techniques for Automated Vehicles.pdf
/2015-ResNet.pdf
/2016-A Survey of Motion Planning and Control.pdf
/2016-Lane Change Scheduling for Autonomous Vehicles.pdf
/20160319-Dengli-Interspeech-tutorial.pdf
/20160319-邓力-IEEE-ICASSP-plenary.pdf
/2017-FPN.pdf
/2017-Lane-Change Social Behavior Generator.pdf
/2017-Malicious URL Detection using Machine Learning-a survey.pdf
/2017-Safe Autonomous Lane Changes in Dense Traffic.pdf
/2018-Lane Change Strategy for  Autonomous Vehicle.pdf
/2018-Planning and Decision-Making for Autonomous Vehicles.pdf
/2019-Self-Driving Cars-A Survey.pdf
/A New Golden Age for Computer Architecture.pdf
/A Quantization-Friendly Separable Convolution for MobileNets.pdf
/A Survey on Dialogue Systems- Recent Advances and New Frontiers.pdf
/A guide to convolution arithmetic for deep learning.pdf
/Attribute-Driven Feature Disentangling and Temporal Aggregation for Video Person Re-Identification.pdf
/CNN- Single-label to Multi-label.pdf
/Ceph - A Scalable High-Performance Distributed File System.pdf
/Co-occurrence Feature Learning from Skeleton Data for Action Recognition and Detection with Hierarchical Aggregation.pdf
/Connectionist Temporal Classification - Labelling Unsegmented Sequence Data with Recurrent Neural Networks.pdf
/Convolutional Neural Networks for Sentence Classification_2014.pdf
/Cross-Entropy-vs-Squared-Error-Training-a-Theoretical-and-Experimental-Comparison.pdf
/Deep Learning based Recommender System - A Survey and New Perspectives.pdf
/Deep Neural Networks for YouTube Recommendations.pdf
/Demographic Prediction Based on User-s Mobile Behaviors.pdf
/Detecting Privacy-Sensitive Events in Medical Text.pdf
/Detection of Malicious URLs using Machine Learning Techniques.pdf
/Drop an Octave.pdf
/Enabling GPUs in the Container Runtime Ecosystem _ NVIDIA Developer Blog.pdf
/Gender Prediction Using Browsing History.pdf
/Grover-model.pdf
/Improving BERT-Based Text Classification With Auxiliary Sentence and Domain Knowledge.pdf
/Language Models are Unsupervised Multitask Learners.pdf
/MODEL COMPRESSION VIA DISTILLATION AND QUANTIZATION.pdf
/Mastering the game of Go with deep neural networks and tree search.pdf
/NVIDIA Docker_ GPU Server Application Deployment Made Easy _ NVIDIA Developer Blog.pdf
/Natural Language Processing (Almost) from Scratch.pdf
/PCI Express Technology 3.0.pdf
/Planning trajectories constrained by predictions.pdf
/PyTorch under the hood.pdf
/Pyramidal Implementation of the Lucas Kanade Feature Tracker.pdf
/Quantizing Deep Convolutional Networks for Efficient Inference-keynote.pdf
/Residual Networks Behave Like Ensembles of Relatively Shallow Networks.pdf
/SKELETON-BASED ACTION RECOGNITION WITH CONVOLUTIONAL NEURAL NETWORKS.pdf
/Single-Stage Multi-Person Pose Machines.pdf
/Spatial Temporal Graph Convolutional Networks for Skeleton-Based Action Recognition.pdf
/TEXT CLASSIFICATION TECHNIQUES- A LITERATURE REVIEW.pdf
/Text Classification Algorithms- A Survey.pdf
/The Decline of Computers as a General PurposeTechnology.pdf
/The Eight Pillars of Causal Wisdom.pdf
/The Google File System.pdf
/The Lottery Ticket Hypothesis Finding Sparse, Trainable Neural Networks.pdf
/The Lottery Ticket Hypothesis at Scale.pdf
/The Three Layer Causal Hierarchy.pdf
/Toward Efficient Trajectory Planning - The Path-Velocity Decomposition.pdf
/Towards Causal Representation Learning.pdf
/Verifying the Safety of Lane Change Maneuvers of Self-driving Vehicles Based on Formalized Traffic Rules.pdf
/You Are What Apps You Use- Demographic Prediction Based on User’s Apps.pdf
/a-learning-based-tune-free-control-framework-for-large-scale-autonomous-driving-system-deployment.pdf
/an-automated-learning-based-procedure-for-large-scale-vehicle-dvnamics-moding-on-baidu-apollo-platform.pdf
/ccks2018.pdf
/crftut-fnt.pdf
/end-to-end arguments in system design.pdf
/jsconf2018-design-mistakes-in-node.pdf
/mobileNetV1.pdf
/mobileNetV2.pdf
/mobileNetV3.pdf
/neural reading comprehension and beyond_2018.pdf
/on-discriminative-vs-generative-classifiers-a-comparison-of-logistic-regression-and-naive-bayes.pdf
/optimal-and-efficient-path-planning-for-partially-known-environments.pdf
/s7310-8-bit-inference-with-tensorrt.pdf
/solve-it-with-inf.pdf
/toward-a-comfortable-driving-experience-for-a-self-driving-shuttle-bus.pdf
/word2vec Parameter Learning Explained.pdf
/2014-Reinforcement Learning-An Introduction.pdf
/Synthetic Data for Text Localisation in Natural Images.pdf
/2021-Improving Machine Reading Comprehension with Extra Labels and Label Smoothing.pdf
/A New Golden Age for Computer Architecture-keynote.pdf
/CAPTCHA Recognition Using Deep Learning with Attached Binary Images.pdf
/DeepDialogue_Tutorial-keynote.pdf
/Hardware-Centric AutoML for Mixed-Precision Quantization.pdf
/HiSVP 开发指南.pdf
/Inference in Deep Learning - A Bottom-up Survey.pdf
/Mastering the game of Go without human knowledge.pdf
/Model Compression and Hardware Acceleration for Neural Networks - A Comprehensive Survey.pdf
/Optimizing Batched Winograd Convolution on GPUs.pdf
/Scalable Top-K Retrieval with Sparta.pdf
/Self Supervised Learning at Google.pdf
/The 2017 IARPA Face Recognition Prize Challenge (FRPC).pdf
/1988-Learning From Noisy Examples.pdf
/2010-Semi-Supervised Novelty Detection.pdf
/2018-Co-teaching-Robust Training.pdf
/2018-Learning from Large-scale Noisy Web.pdf
/2018-Learning to Reweight Examples for Robust Deep Learning.pdf
/2018-Learning with Bad Training Data via Iterative Trimmed Loss.pdf
/2019-DivideMix.pdf
/2019-How does Disagreement Help Generalization against Label Corruption.pdf
/2019-Understanding and Utilizing Deep Neural Networks.pdf
/2019-Unsupervised Label Noise Modeling and Loss Correction.pdf
/EM-2014-Sukhbaatar-noise-layer.pdf
/EM-2015-class-probability estimation.pdf
/EM-2015-importance reweighting.pdf
/EM-2016-Binary Instance Dependent.pdf
/EM-2017-loss correction approach.pdf
/EM-2017-noise_adaptation_layer.pdf
/confident-2017-Rank Pruning.pdf
/confident-2019-Estimating Uncertainty.pdf
/curr-2009-curriculum-learning.pdf
/curr-2017-CurriculumNet.pdf
/curr-2018-MentorNet.pdf
/overview-2014-a survey.pdf
/overview-2014-comprehensive introduction.pdf
/overview-2019-a survey.pdf
/self-2019-Self-Learning with Multi-Prototypes.pdf
/self-2019-Self-training with Noisy Student.pdf
/semi-2005-by-entropy-minimization.pdf
/semi-2013-pseudo-label.pdf
/semi-2018-Virtual Adversarial Training.pdf
/semi-2018-mixup.pdf
/semi-2019-MixMatch.pdf
/theory-2004-Class Noise vs Attribute Noise.pdf
/theory-2017-Closer Look at Memorization.pdf
/theory-2017-rethinking generalization.pdf
/Symmetric Cross Entropy for Robust Learning with Noisy Labels.pdf
/2013-Multi-digit Number Recognition from Street View Imagery using Deep Convolutional Neural Networks.pdf
/2015-crnn.pdf
/2019-CRAFT-character-region-awareness.pdf
/2019-entity-aware-attention.pdf
/Bidirectional Scene Text Recognition with a Single Decoder.pdf
/Decoupled Attention Network for Text Recognition.pdf
/Scene Text Detection and Recognition-The Deep Learning Era.pdf
/What Is Wrong With Scene Text Recognition Model Comparisons.pdf
/1982-why-systolic-architecture.pdf
/Gordon_Moore-ISSCC-2003.pdf
/Gordon_Moore_1975_Speech.pdf
/2006-Convexity, Classification, and Risk Bounds.pdf
/2009_curriculum_icml.pdf
/2017-Making Deep Neural Networks Robust to Label Noise - a loss correction approach.pdf
/2017-MentorNet.pdf
/2017-UNDERSTANDING DEEP LEARNING REQUIRES RETHINKING GENERALIZATION.pdf
/2017-training_deep_neural_networks_using_a_noise_adaptation_layer.pdf
/Doersch_Unsupervised_Visual_Representation_ICCV_2015_paper.pdf
/Kolesnikov_Revisiting_Self-Supervised_Visual_Representation_Learning_CVPR_2019_paper.pdf
/Representation Learning with.pdf
/Rethinking Data Augmentation.pdf
/Self-training with Noisy Student improves ImageNet classification.pdf
/Zhai_S4L_Self-Supervised_Semi-Supervised_Learning_ICCV_2019_paper.pdf
/em-2018-Explicit Removal of Biases and Var.pdf
/unsupervised_representation_learning_by_predicting_image_rotations.pdf
/Introduction to GPU Computing.pdf
/2018-face-recog-overview.pdf
/Attention Is All You Need.pdf
/Face Recognition Using Laplacianfaces.pdf
/Visual Object Recognition.pdf
/asm2.pdf
/protect-your-online-business-from-credential-stuffing.pdf
/top-10-considerations-for-bot-management-ebook.pdf
/you-could-be-competing-with-bots-to-buy-gifts.pdf
/2008-essentials-of-programming-languages.pdf
/A-Tour-of-Cpp.pdf
/cpp-primer-4th-cn.pdf
/2022-table-orc-overview-gao.pdf
/bert.pdf
/learning-to-optimize-tensor-programs.pdf
/efficient-memory-management-for-deep-neural-net-inference.pdf
/TVM_paper.pdf
/The_deep_learning_compiler_A_comprehensive_survey.pdf
/2018-tvm-end-to-end-optimization-stack-for-deep-learning.pdf
/2015-mxnet.pdf
/2016-tensorflow.pdf
